@import "syntax-variables";

atom-text-editor, :host {
  background-color: @syntax-background-color;
  color: @syntax-text-color;
}

atom-text-editor .gutter, :host .gutter {
  background-color: @syntax-gutter-background-color;
  color: @syntax-gutter-text-color;
}

atom-text-editor .gutter .line-number.cursor-line, :host .gutter .line-number.cursor-line {
  background-color: @syntax-gutter-background-color-selected;
  color: @syntax-gutter-text-color-selected;
}

atom-text-editor .gutter .line-number.cursor-line-no-selection, :host .gutter .line-number.cursor-line-no-selection {
  color: @syntax-gutter-text-color-selected;
}

atom-text-editor .wrap-guide, :host .wrap-guide {
  color: @syntax-wrap-guide-color;
}

atom-text-editor .indent-guide, :host .indent-guide {
  color: @syntax-indent-guide-color;
}

atom-text-editor .invisible-character, :host .invisible-character {
  color: @syntax-invisible-character-color;
}

atom-text-editor .search-results .marker .region, :host .search-results .marker .region {
  background-color: transparent;
  border: @syntax-result-marker-color;
}

atom-text-editor .search-results .marker.current-result .region, :host .search-results .marker.current-result .region {
  border: @syntax-result-marker-color-selected;
}

atom-text-editor.is-focused .cursor, :host(.is-focused) .cursor {
  border-color: @syntax-cursor-color;
}

atom-text-editor.is-focused .selection .region, :host(.is-focused) .selection .region {
  background-color: @syntax-selection-color;
}

atom-text-editor.is-focused .line-number.cursor-line-no-selection, atom-text-editor.is-focused .line.cursor-line, :host(.is-focused) .line-number.cursor-line-no-selection, :host(.is-focused) .line.cursor-line {
  background-color: rgba(0, 0, 0, 0.07);
}

.text.html .source.active4d {
  background-color: rgba(226, 233, 255, 0.37);
}

.text.xml {
  color: #000000;
}

.comment.line {
  color: #D33535;
}

.comment.block {
  color: #D33435;
}

.string {
  color: #666666;
}

.string.interpolated .variable {
  font-weight: bold;
  color: #66CCFF;
}

.constant.numeric {
  color: #A8017E;
}

.constant.character, .constant.other {
}

.constant.other.date, .constant.other.time {
  font-weight: bold;
  color: #66CCFF;
}

.constant.language {
  color: #A535AE;
}

.variable.other.local {
  font-weight: bold;
  color: #6392FF;
}

.variable {
  font-weight: bold;
  color: #0053FF;
}

.variable.other.table-field {
  color: #6988AE;
}

.keyword {
  font-weight: bold;
  color: #006699;
}

.keyword.operator {
}

.storage {
  color: #FF5600;
}

.entity.name.type {
  color: #21439C;
}

.entity.other.inherited-class {
}

.entity.name.function {
  color: #21439C;
}

.variable.parameter {
}

.meta.tag {
  color: #7A7A7A;
}

.entity.name.tag {
  color: #016CFF;
}

.entity.other.attribute-name {
  color: #963DFF;
}

.support.function {
  font-weight: bold;
  color: #45AE34;
}

.support.constant {
  color: #B7734C;
}

.support.type, .support.class {
  color: #A535AE;
}

.support.variable {
  color: #A535AE;
}

.invalid {
  color: #FFFFFF;
  background-color: #990000;
}

.meta.diff {
  color: #FFFFFF;
  background-color: #656565;
}

.meta.diff.range {
  color: #FFFFFF;
  background-color: #1B63FF;
}

.markup.deleted.diff {
  color: #000000;
  background-color: #FF7880;
}

.markup.inserted.diff {
  color: #000000;
  background-color: #98FF9A;
}

.source.diff {
  color: #5E5E5E;
}
